/*
  dnomaid was here
  https://dnomaid.co.uk
*/

body {
  max-width: 50em;
  margin: 0 auto;
  background-color: #111;
  color: #fefefe;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

h1 img {
  vertical-align: middle;
  width: 2em;
  height: 2em;
  margin-right: 10px;
}

a {
  color: #aaa;
  border-bottom: 1px solid #aaa;
  text-decoration: none;
}

a:hover {
  background-color: #aaa;
  color: #111;
}

a.blend {
  color: #fefefe;
  border: none;
}

a.blend:hover {
  background: none;
  text-decoration: underline;
}

a.gh, a.tw, a.kb, a.bl {
  display: inline-block;
  border-radius: 2px;
  padding: 2px;
  border-bottom: none;
}

a.gh {
  color: #6cc644;
}

a.tw {
  color: #1da1f2;
}

a.kb {
  color: #ff6f21;
}

a.bl {
  color: #aaa;
}

a.gh:hover, a.tw:hover, a.kb:hover, a.bl:hover {
  color: #fefefe;
  background: none;
}


header, main, section, footer {
  border-radius: 2px;
}

header {
  padding: 1em;
  background-color: #222;
  margin-bottom: 1em;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0;
}


main {
  min-height: 50%;
  padding: 1em;
  background-color: #222;
}

main section:not(:first-of-type) {
  margin-top: 1.5em;
}

main section:not(:last-of-type) {
  margin-bottom: 1.5em;
}

section.post {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #191919;
}

section.post.big {
  font-size: 120%;
}

section.post h2, section.post h3 {
  margin: 0;
}

section.post h2 {
  margin-bottom: 8px;
}

main img {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 2px;
}

footer {
  margin-top: 1em;
  background-color: #222;
  padding: 1em;
}
